<?xml version='1.0' encoding='utf-8'?>
<widget id="com.techsufianx.health" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HealthXRay</name>
    <description>
        HealthXRay: Your professional health utility and medical information portal.
    </description>
    <author email="sufian@healthxray.online" href="https://healthxray.online">
        Sufian - Tech SufianX
    </author>
    
    <content src="index.html" />
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />

    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="BackgroundColor" value="0xffffffff" />

    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
</widget>

